.register_container {
  text-align: center;
  padding: 1rem 4rem;
}
.inp {
  width: 100%;
  margin: 1rem auto;
}
.reg_btn {
  width: 100%;
  margin: 1rem auto 0.5rem;
}

.input_container {
  margin: 2rem auto;
}

.register_container p {
  font-size: 12px;
  text-align: left;
}
.register_container a {
  color: var(--red);
  margin-left: 0.2rem;
  font-weight: 500;
}
.register_container a:hover {
  color: var(--light-red);
}
