.btn {
  padding: 0.7rem 1.2rem;
  outline: none;
  border: none;
  background-color: var(--red);
  border-radius: 0.2rem;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #e7475e;
}
