.container {
  padding: 1.5rem;
  text-align: center;
  max-width: var(--max-width);
  margin: 0 auto;
}

.container h2 {
  color: var(--red);
  margin-bottom: 1rem;
}
.card_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}
.card img {
  height: 200px;
  width: 200px;
  margin: 1rem auto;
}
.card p {
  margin: 0.5rem auto;
}

.btn {
  margin: 1rem auto;
  /* width: 100%; */
}

@media screen and (max-width: 730px) {
  .card img {
    height: 90px;
    width: 90px;
  }
  .card p {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 580px) {
  .card_container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    margin: 0 3rem;
  }
}
