.customize_container {
  text-align: center;
  overflow-y: scroll;
  width: 400px;
  height: 520px;
}

.customize_container p {
  font-weight: 300;
  font-size: 12px;
}

.customize_container img {
  height: 150px;
  width: 150px;
  margin: auto;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.radioCheck_container {
  margin: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
