.container {
  padding: 1.5rem;
  text-align: center;
}
.container h3 {
  color: var(--dark);
}
.container h2 {
  color: var(--red);
  margin-bottom: 1rem;
}

.contact_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}
